.sideBar {
  position: absolute;
  left: 0;
  z-index: 1;
  background: rgb(252, 254, 255);
  width: 250px;
  height: 140vh;
}

.btn-close {
  margin-left: 5px;
}
.inp-filter {
  margin-top: 40px;
}

#btn-sb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-filter {
  background-color: rgb(123, 172, 172);
  width: 160px;
  height: 40px;
  border: 1px solid rgb(54, 54, 58);
  border-radius: 5px;
}

.btn-filter:hover {
  background-color: rgb(190, 224, 224);
  transition: 0.8s;
}

.lol {
  display: flex;
  justify-content: center;
}
